body {
    display: flex;
    flex-direction: column;
    justify-content:space-between;
    height: 100vh;
    margin: 0;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    align-items: center;
    gap: 10px;
}
/* #264653 2A9D8F E9C46A F4A261 E76F51*/
.header-bg, .footer-bg {
    background-color: #264653;
    color: #E9C46A;
    width: 100vw;
    display: flex;
    justify-content: center;
}

.container-bg {
display: flex;
flex-direction: column;
flex-wrap: wrap;
gap: 15px;
}

.header {
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-logo {
    font-size: 42px;
    font-weight: 800; 
}

a{ 
    text-decoration: none;
}
.footer {
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.text-container {
    height: 200px;
    background-color: #2A9D8F;
    border-radius: 25px;
    color: #264653;
    padding: 30px;
    
}

.list-container {
    background-color: #E9C46A;
    color: #E76F51;
    border-radius: 25px;
    display: flex;
    flex-wrap: wrap;
    padding: 30px;
}