body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
    margin: 0;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}
/* #264653 2A9D8F E9C46A F4A261 E76F51*/
.header-bg, .footer-bg {
    background-color: #264653;
    color: #E9C46A;
}

.text-container-bg {
    background-color: #2A9D8F;
}

.list-container-bg {
    background-color: #E9C46A;
}

.header {
    height: 100px;
}

.footer {
    height: 50px;;
}