body {
    display: flex;
    flex-direction: column;
    justify-content:space-between;
    margin: 0;
    font-family: 'Open Sans',sans-serif;
    align-items: center;
    height: 100vh;
    gap: 15px;
}
.header-bg, .footer-bg {
    background-color: #606676;
    color: #FEF3E2;
    width: 100vw;
    display: flex;
    justify-content: center;
}

    .container-bg {
    display: flex;
    flex-direction: column;
    flex: 1;
    gap: 15px;
}

.header {
    height: 100px;
    max-width: 850px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex: 1;
    
}

.header-logo {
    font-size: 42px;
    font-weight: 800;
     
}

a { 
    text-decoration: none;
    color: inherit;
    text-transform: uppercase;
}

.footer {
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.text-container {
    height: auto;
    max-width: 850px;
    background-color: #708871;
    border-radius: 25px;
    color: #BEC6A0;
    padding: 20px;
    
}

.list-container {
    background-color: #FEF3E2;
    color: #708871;
    max-width: 850px;
    border-radius: 25px;
    display: flex;
    flex: 1;
    padding: 20px;
}

.recipes-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 30px;
}

.recipe-box {
    width: 200px;
    height: 200px;
    align-items: center;
    text-align: center;
    font-weight: 500;
}

img {
    width: 175px; 
    height: 175px; 
    border-radius: 10%; 
    border: solid 0px;
    box-shadow: 3px 3px;
    padding-bottom: 5px;
    padding-right: 5px;
    margin-bottom: 5px;
}